<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="text-center">
            <img src="../../../assets/img/pyme-logo.jpg" class="img-fluid rounded-circle" width="50%" alt="MIPYME">
        </div>
    </div>
</div>

<div class="text-center">
    <button mat-icon-button matTooltip="Mostrar" class="btn btn-outline-light mx-1">
        <i class="fas fa-search-plus"></i>
    </button>
    <button mat-icon-button matTooltip="Eliminar" class="btn btn-outline-light mx-1">
        <i class="fas fa-trash-alt"></i>
    </button>
    <button mat-icon-button matTooltip="Elegir como imagen principal" class="btn btn-outline-light mx-1">
        <i class="fas fa-star"></i>
    </button>
    <button mat-icon-button matTooltip="Subir imagen" class="btn btn-outline-light mx-1">
        <i class="fas fa-upload"></i>
    </button>
</div>