<app-index>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade animate__animated animate__fadeInUp"
        data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/img.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <mat-card class="example-card mx-auto animate__animated  animate__fadeInDown"
                        style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-i mb-4" src="../../../assets/img/pyme-logo.jpg" width="90%" alt="PYME">
                                <br>
                                <div class="mt-n5">
                                    <div class="mt-3">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i> <i class="fas fa-star"></i>
                                    </div>
                                    <button mat-raised-button class="btn btn-outline-warning bg-warning mt-3">Ver
                                        más</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <mat-card-header>
                                    <mat-card-title>Cafetería</mat-card-title>
                                    <mat-card-subtitle>Luis Figueroa</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p class="text-justify">
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds
                                        of dog from Japan. A small, agile dog that copes very well with mountainous
                                        terrain, the Shiba Inu was originally bred for hunting.
                                    </p>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                    <h2 class="text-center mt-5 animate__animated animate__backInUp">
                        <span class="p-3 border rounded-pill" style="background:linear-gradient(#F3CC01,#E4B100);">
                            PYME DEL DÍA
                        </span>
                    </h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/img/img.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <mat-card class="example-card mx-auto animate__animated  animate__fadeInDown"
                        style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-i mb-4" src="../../../assets/img/restaurante-logo.jpg" width="90%"
                                    alt="PYME">
                                <br>
                                <div class="mt-n5">
                                    <div class="mt-3">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half"></i>
                                    </div>
                                    <button mat-raised-button class="btn btn-outline-warning bg-warning mt-3">Ver
                                        más</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <mat-card-header>
                                    <mat-card-title>Restaurante</mat-card-title>
                                    <mat-card-subtitle>Andrea Ballestero</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p class="text-justify">
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds
                                        of dog from Japan. A small, agile dog that copes very well with mountainous
                                        terrain, the Shiba Inu was originally bred for hunting.
                                    </p>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                    <h2 class="text-center mt-5 animate__animated animate__backInUp">
                        <span class="p-3 border rounded-pill" style="background:linear-gradient(#F3CC01,#E4B100);">NUEVA
                            PYME</span>
                    </h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/img/img.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <mat-card class="example-card mx-auto animate__animated  animate__fadeInDown"
                        style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-i mb-4" src="../../../assets/img/chino-logo.jpg" width="90%"
                                    alt="PYME">
                                <br>
                                <div class="mt-n5">
                                    <div class="mt-3">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half"></i>
                                    </div>
                                    <button mat-raised-button class="btn btn-outline-warning bg-warning mt-3">Ver
                                        más</button>
                                </div>
                            </div>
                            <div class="col-md-8 px-3">
                                <mat-card-header>
                                    <mat-card-title class="text-center">El CHINO</mat-card-title>
                                    <mat-card-subtitle class="text-center">Xang Xian</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p class="text-justify">
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds
                                        of dog from Japan. A small, agile dog that copes very well with mountainous
                                        terrain, the Shiba Inu was originally bred for hunting.
                                    </p>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>

                    <h2 class="text-center mt-5 animate__animated animate__backInUp">
                        <span class="p-3 border rounded-pill" style="background:linear-gradient(#F3CC01,#E4B100);">PYME
                            POPULAR</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="my-5 w-75 mx-auto">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="objetivo-tab" data-toggle="tab" href="#objetivo" role="tab"
                        aria-controls="objetivo" aria-selected="true"><h2>Objetivo</h2></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="valor-tab" data-toggle="tab" href="#valor" role="tab" aria-controls="valor"
                        aria-selected="false"><h2>Valores</h2></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="compromiso-tab" data-toggle="tab" href="#compromiso" role="tab"
                        aria-controls="compromiso" aria-selected="false"><h2>Compromiso</h2></a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent mx-auto">
                <div class="tab-pane fade show active" id="objetivo" role="tabpanel" aria-labelledby="objetivo-tab">
                    <div class="m-3" style="height: 250px;">
                        <h3><b>Objetivos</b></h3>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iusto ducimus porro commodi,
                            dolores esse deserunt
                            accusantium aspernatur neque, reiciendis consequatur minima exercitationem nostrum eum
                            distinctio harum reprehenderit
                            corporis delectus!
                        </p>
                        <div class="text-center">
                            <img src="../../../assets/img/a-un-click.jpeg" class="img-fluid" width="20%" alt="a-un-clic">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="valor" role="tabpanel" aria-labelledby="valor-tab">
                    <div class="m-3" style="height: 250px;">
                        <h3><b>Valores</b></h3>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iusto ducimus porro commodi,
                            dolores esse deserunt
                            accusantium aspernatur neque, reiciendis consequatur minima exercitationem nostrum eum
                            distinctio harum reprehenderit
                            corporis delectus!
                        </p>
                        <div class="text-center">
                            <img src="../../../assets/img/a-un-click.jpeg" class="img-fluid" width="20%" alt="a-un-clic">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="compromiso" role="tabpanel" aria-labelledby="compromiso-tab">
                    <div class="m-3" style="height: 250px;">
                        <h3><b>Compromiso</b></h3>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iusto ducimus porro commodi,
                            dolores esse deserunt
                            accusantium aspernatur neque, reiciendis consequatur minima exercitationem nostrum eum
                            distinctio harum reprehenderit
                            corporis delectus!
                        </p>
                        <div class="text-center">
                            <img src="../../../assets/img/a-un-click.jpeg" class="img-fluid" width="20%" alt="a-un-clic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h1 class="text-warning text-center mt-5 mb-1"><strong>Mejores 3 PYMES de la semana</strong></h1>
        <hr class="mx-auto w-50 mb-2" style="background: #CED6E0;">

        <div class="row animate__animated animate__fadeInUp mt-3">
            <div class="col-md-4">
                <mat-card class="example-card my-1">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Cafe Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Donald Arguedas</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/pyme2.jpg" class="hvr-grow" style="cursor: pointer;"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <div class="mt-3 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star-half"></i>
                    </div>
                    <mat-card-actions class="text-center">
                        <button mat-icon-button matTooltip="Calificar" class="btn btn-outline-light"><i
                                class="fas fa-heart"></i></button>
                        <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light"><i
                                class="fas fa-share"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card my-1">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Sala de eventos</mat-card-title>
                        <mat-card-subtitle>Sofia Pillar</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/pyme4.jpg" class="hvr-grow" style="cursor: pointer;"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <div class="mt-3 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star-half"></i>
                    </div>
                    <mat-card-actions class="text-center">
                        <button mat-icon-button matTooltip="Calificar" class="btn btn-outline-light"><i
                                class="fas fa-heart"></i></button>
                        <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light"><i
                                class="fas fa-share"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card my-1">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Bazzar</mat-card-title>
                        <mat-card-subtitle>Alex S.A</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/pyme3.jpg" class="hvr-grow" style="cursor: pointer;"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <div class="mt-3 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star-half"></i>
                    </div>
                    <mat-card-actions class="text-center">
                        <button mat-icon-button matTooltip="Calificar" class="btn btn-outline-light"><i
                                class="fas fa-heart"></i></button>
                        <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light"><i
                                class="fas fa-share"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <h1 class="text-warning text-center mt-5 mb-1"><strong>Mejores 3 PYMES del mes</strong></h1>
        <hr class="mx-auto w-50 mb-2" style="background: #CED6E0;">

        <div class="row animate__animated animate__fadeInUp mt-3">
            <div class="col-md-4">
                <mat-card class="example-card my-1">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Cafe Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Donald Arguedas</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/pyme2.jpg" class="hvr-grow" style="cursor: pointer;"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <div class="mt-3 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star-half"></i>
                    </div>
                    <mat-card-actions class="text-center">
                        <button mat-icon-button matTooltip="Calificar" class="btn btn-outline-light"><i
                                class="fas fa-heart"></i></button>
                        <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light"><i
                                class="fas fa-share"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card my-1">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Sala de eventos</mat-card-title>
                        <mat-card-subtitle>Sofia Pillar</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/pyme4.jpg" class="hvr-grow" style="cursor: pointer;"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <div class="mt-3 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star-half"></i>
                    </div>
                    <mat-card-actions class="text-center">
                        <button mat-icon-button matTooltip="Calificar" class="btn btn-outline-light"><i
                                class="fas fa-heart"></i></button>
                        <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light"><i
                                class="fas fa-share"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card my-1">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Bazzar</mat-card-title>
                        <mat-card-subtitle>Alex S.A</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/pyme3.jpg" class="hvr-grow" style="cursor: pointer;"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <div class="mt-3 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star-half"></i>
                    </div>
                    <mat-card-actions class="text-center">
                        <button mat-icon-button matTooltip="Calificar" class="btn btn-outline-light"><i
                                class="fas fa-heart"></i></button>
                        <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light"><i
                                class="fas fa-share"></i></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>    

    <div class="parallax">
        <div class="parallax-text">
            <h1 class="mb-3">
                Olvidese de buscar lo que necesita en otros sitios web, nosotros nos encargamos de eso, sientase comodo
                con nuestros catálogo
            </h1>
        </div>
    </div>

    <div class="container my-5">
        <div class="row my-3">
            <div class="col-md-6 my-2">
                <div class="text-center">
                    <img src="../../../assets/img/laptop.png" width="60%" alt="laptop">
                </div>
            </div>
            <div class="col-md-6 my-2">
                <h2 class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, nobis vitae! Assumenda cumque quos
                    reprehenderit, illo nulla placeat sit dolorem itaque
                    laudantium eum quam. Atque libero molestias provident a officiis? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ratione, odit porro tempora,
                    nam eos consectetur dolor tempore, quos quidem consequuntur architecto ad cumque doloribus cum
                    eligendi! Beatae ducimus odit aliquid.
                </h2>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-8 my-2">
                <h2 class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, nobis vitae! Assumenda cumque quos
                    reprehenderit, illo nulla placeat sit dolorem itaque
                    laudantium eum quam. Atque libero molestias provident a officiis? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ratione, odit porro tempora,
                    nam eos consectetur dolor tempore, quos quidem consequuntur architecto ad cumque doloribus cum
                    eligendi! Beatae ducimus odit aliquid.
                </h2>
            </div>
            <div class="col-md-4 my-2">
                <div class="text-center">
                    <img src="../../../assets/img/smartphone.png" width="40%" alt="smartphone">
                </div>
            </div>
        </div>
    
    </div>
</app-index>