<app-index>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-5 mt-4">
                <div class="text-center">
                    <img src="../../../assets/img/dinero.png" class="img-fluid mt-2" width="50%" alt="">
                </div>
            </div>
            <div class="col-md-7 mt-4">
                <p class="text-justify p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestiae sunt rem blanditiis,
                    atque quaerat nisi excepturi magnam voluptatem, repudiandae nesciunt. Harum quae nulla non facilis
                    similique atque. Ea, totam.
                </p>
                <p class="text-justify p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestiae sunt rem blanditiis,
                    atque quaerat nisi excepturi magnam voluptatem, repudiandae nesciunt. Harum quae nulla non facilis
                    similique atque. Ea, totam.
                </p>
                <p class="text-justify p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestiae sunt rem blanditiis,
                    atque quaerat nisi excepturi magnam voluptatem, repudiandae nesciunt. Harum quae nulla non facilis
                    similique atque. Ea, totam.
                </p>
            </div>
        </div>
    </div>

    <div class="parallax"></div>
    
    <div class="container my-5">
        <h1 class="text-center mb-5"><span class="alert-info p-4 rounded shadow border d-none d-md-block">¡Ayudanos a ayudar más!</span></h1>
        <h3 class="text-center mb-5"><span class="alert-info p-4 rounded shadow border d-block d-md-none">¡Ayudanos a ayudar más!</span></h3>

        <div class="row">
            <div class="col-md-8 mt-3" style="max-width: 40rem;">
                <div class="card">
                    <div class="card-header p-0" style="background-color: #E8EBED;">
                        <h3 class="p-1 text-muted">&nbsp;&nbsp; PAY BY CREDIT CARD</h3>
                    </div>
                    <div class="card-body" style="background-color: #EFF3F5;">
                        <p class="card-text">Card number</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white" style="border-right: none;" id="cardm"><i class="fas fa-credit-card"></i></span>
                            </div>
                            <input type="password" required style="border-left: none;" placeholder="•••• •••• •••• ••••" class="form-control" aria-label="cardm" aria-describedby="cardm">
                        </div>
                        <div class="row">
                            <div class="col-md-3 mt-3">
                                <p class="card-text">EXPIRATION</p>
                                <input type="text" required class="form-control" placeholder="MM / AA">
                            </div>
                            <div class="col-md-3 mt-3">
                                <p class="card-text">VERIFICATION</p>
                                <input type="text" required class="form-control" placeholder="CVC">
                            </div>
                        </div>
                        <br>
                        <small class="text-muted"><i class="fas fa-lock"></i> SSL Encrypted and Secute</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3 d-none d-md-block">
                <div class="text-center p-3">
                    <img src="../../../assets/img/logo-empresa.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>
                    First Name
                </label>
                <input type="text" required placeholder="First" class="form-control">
            </div>
            <div class="col-md-3">
                <label>
                    Last Name
                </label>
                <input type="text" required placeholder="Last" class="form-control">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>
                    Email Address
                </label>
                <input type="email" required placeholder="Email" class="form-control">
            </div>
        </div>
        <br>
        <button mat-raised-button class="btn bg-success text-white mb-5">Donate Now</button>
    </div>
    <br>
    <br>
</app-index>