<div class="container my-4">
    <div class="col align-self-center">
        <div class="row">
            <div class="col-md-4">
                <p class="p-2">
                    Comuniquese con nosotros si tiene algun problema con la plataforma. Con gusto le ayudaremos.
                </p>
            </div>
            <div class="col-md-4 pt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="user"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre completo" aria-label="Username"
                    aria-describedby="user">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="email"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" aria-label="email"
                    aria-describedby="emal">
                </div>
                <button button-raised-button class="btn btn-block bg-info text-white d-none d-md-block">Enviar</button>
            </div>
            <div class="col-md-4">
                <textarea required class="form-control my-3" rows="6"
                    placeholder="Agregue una breve descripción"></textarea>
                <button button-raised-button class="btn btn-block bg-info text-white d-sm-block d-md-none mb-3">Enviar</button>
            </div>
        </div>
    </div>
</div>