<app-index>
    <section class="parallax">
        <article class="parallax-text">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Empieza por aquí...!" aria-label="buscador"
                    aria-describedby="busacador">
                <div class="input-group-append">
                    <button mat-raised-button class="btn input-group-text" id="buscador"><i
                            class="fas fa-search"></i></button>
                </div>
            </div>
            <h1 class="text-white"><b>Encuentra lo que buscas <i class="fas fa-check"></i></b></h1>
        </article>
    </section>
    <div class="container my-5 py-auto">
        <div class="row">
            <div class="col-md-4 my-3">
                <a routerLink="/catalogo/restaurantes/java-coffee" style="color:#000; text-decoration: none;">
                    <h1 class="text-center">
                        <i class="fas fa-coffee fa-3x"></i> <br>
                        Restaurantes
                    </h1>
                </a>
            </div>
            <div class="col-md-4 my-3">
                <h1 class="text-center">
                    <i class="fas fa-car fa-3x"></i> <br>
                    Automotriz
                </h1>
            </div>
            <div class="col-md-4 my-3">
                <a routerLink="/catalogo/servicios" style="color:#000; text-decoration: none;">
                    <h1 class="text-center">
                        <i class="fas fa-concierge-bell fa-3x"></i> <br>
                        Servicios
                    </h1>
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 my-3">
                <h1 class="text-center">
                    <i class="fas fa-hotel fa-3x"></i> <br>
                    Hospedajes
                </h1>
            </div>
            <div class="col-md-4 my-3">
                <h1 class="text-center">
                    <i class="fas fa-shipping-fast fa-3x"></i> <br>
                    Servicio a domicilio
                </h1>
            </div>
            <div class="col-md-4 my-3">
                <h1 class="text-center">
                    <i class="fas fa-shopping-basket fa-3x"></i> <br>
                    Supermercados
                </h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</app-index>