<app-index>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Hola, esta es nuestra historia!</h1>
            <p class="lead">
                Developer Solution, es una microempresa que funciona como sociedad anónima y que tiene un inicio de muy 
                reciente creación, se dedica a brindar servicios mediante su lo que será esta plataforma, además, brindando 
                oportunidad a los nuevos emprendedores que estén iniciando y necesitan darse a conocer por medio de nuestro 
                catalogo online, asimismo apoyando a los usuarios a encontrar todos sus servicios de confianza en un solo lugar 
                y a disposición de todas las personas. Se encuentra ubicada en Guanacaste, la empresa se llama Developer Solution, 
                que traducido al español se refiero a solucionar problemas mediante el desarrollo de software, adaptando de una manera 
                armónica aquellos problemas o tareas de la vida diaria haciendo que el uso sea más sencillo y fácil.
            </p>
            <hr class="my-4">
        </div>
    </div>
</app-index>