<app-index>
    <div class="container mt-3 animate__animated animate__fadeInUp">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/pyme1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <img src="../../../assets/img/pyme-logo.jpg" class="img-fluid rounded-circle"
                                        width="50%" alt="MIPYME">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button mat-icon-button matTooltip="Mostrar imagen de portada"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-search-plus"></i>
                            </button>
                            <button mat-icon-button matTooltip="Agregar a favoritos" class="btn btn-outline-light mx-1">
                                <i class="fas fa-star"></i>
                            </button>
                            <button mat-icon-button matTooltip="Contactar por telefono"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/pyme2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <img src="../../../assets/img/pyme-logo.jpg" class="img-fluid rounded-circle"
                                        width="50%" alt="MIPYME">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button mat-icon-button matTooltip="Mostrar imagen de portada"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-search-plus"></i>
                            </button>
                            <button mat-icon-button matTooltip="Agregar a favoritos" class="btn btn-outline-light mx-1">
                                <i class="fas fa-star"></i>
                            </button>
                            <button mat-icon-button matTooltip="Contactar por telefono"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/pyme3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <img src="../../../assets/img/pyme-logo.jpg" class="img-fluid rounded-circle"
                                        width="50%" alt="MIPYME">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button mat-icon-button matTooltip="Mostrar imagen de portada"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-search-plus"></i>
                            </button>
                            <button mat-icon-button matTooltip="Agregar a favoritos" class="btn btn-outline-light mx-1">
                                <i class="fas fa-star"></i>
                            </button>
                            <button mat-icon-button matTooltip="Contactar por telefono"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/pyme4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <img src="../../../assets/img/pyme-logo.jpg" class="img-fluid rounded-circle"
                                        width="50%" alt="MIPYME">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button mat-icon-button matTooltip="Mostrar imagen de portada"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-search-plus"></i>
                            </button>
                            <button mat-icon-button matTooltip="Agregar a favoritos" class="btn btn-outline-light mx-1">
                                <i class="fas fa-star"></i>
                            </button>
                            <button mat-icon-button matTooltip="Contactar por telefono"
                                class="btn btn-outline-light mx-1">
                                <i class="fas fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- CABECERA MOBILE-->
        <div class="d-md-none d-sm-block animate__animated animate__fadeInUp">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="../../../assets/img/pyme-logo.jpg" class="img-fluid rounded-circle" width="50%"
                            alt="MIPYME">
                    </div>
                </div>
            </div>

            <div class="text-center mt-n3">
                <button mat-icon-button matTooltip="Mostrar imagen de fondo" class="btn btn-outline-light mx-1">
                    <i class="fas fa-search-plus"></i>
                </button>
                <button mat-icon-button matTooltip="Calificar negocio" class="btn btn-outline-light mx-1">
                    <i class="fas fa-star"></i>
                </button>
                <button mat-icon-button matTooltip="Compartir" class="btn btn-outline-light mx-1">
                    <i class="fas fa-share"></i>
                </button>
            </div>
        </div>

        <hr>
        <div class="w-75 mx-auto animate__animated animate__fadeInUp">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="my-auto"><b>Buen servicio</b></h4>
                </div>
                <div class="col-md-9 mb-3">
                    <div class="progress mt-1">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h4 class="my-auto"><b>Atención al cliente</b></h4>
                </div>
                <div class="col-md-9 mb-3">
                    <div class="progress mt-1">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="75"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h4 class="my-auto"><b>Responsabilidad</b></h4>
                </div>
                <div class="col-md-9 mb-3">
                    <div class="progress mt-1">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="80"></div>
                    </div>
                </div>
            </div>

        </div>

        <hr>
        <h2> Java Caffee </h2>

        <div class="row mt-3 mb-5">
            <div class="col-md-7 order-md-12">
                <h4><b>Detalles</b></h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minima hic placeat vel, similique
                    accusamus numquam quos nesciunt quidem, sed nam eveniet magnam, tenetur quisquam ratione vero
                    voluptatum deleniti in?
                </p>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minima hic placeat vel, similique
                    accusamus numquam quos nesciunt quidem, sed nam eveniet magnam, tenetur quisquam ratione vero
                    voluptatum deleniti in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minima
                    hic placeat vel, similique
                    accusamus numquam quos nesciunt quidem, sed nam eveniet magnam, tenetur quisquam ratione vero
                    voluptatum deleniti in?
                </p>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h4><b>Contacto</b></h4>
                        <br>
                        <ul>
                            <li style="cursor: pointer;"><i class="fas fa-phone-alt"></i> Teléfono</li>
                            <li style="cursor: pointer;"><i class="fas fa-at"></i> Email</li>
                            <li style="cursor: pointer;"><i class="fab fa-whatsapp"></i> Whatsapp</li>
                            <li style="cursor: pointer;"><i class="fab fa-facebook-square"></i> Facebook</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h4><b>Ubicación</b></h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7859.9601832729695!2d-84.11740383945472!3d9.9356142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e39eaea499fd%3A0x678886b7a708336a!2sE-xpress!5e0!3m2!1ses-419!2scr!4v1598556960269!5m2!1ses-419!2scr" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-md-1 mt-3 mb-5">
                <br>
                <br>
                <div class="container">
                    <div class="fb-comments" data-mobile data-order-by="reverze-time"
                        data-href="https://storkservices.herokuapp.com/catalogo/restaurantes/java-coffee"
                        data-numposts="15" data-width="100%"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</app-index>